{% extends 'djangoapp/index.html' %}
{% block content %}

{% if user.is_authenticated %}
    <div class="rightalign">
        <div class="dropdown">
            <button class="dropbtn">{{user.first_name}}</button>
            <div class="dropdown-content">
                <a href="{% url 'djangoapp:logout' %}">Logout</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="rightalign">
        <div class="dropdown">
            <form action="{% url 'djangoapp:registration' %}" method="get">
                <input class="dropbtn"  type="submit" value="Visitor">
                <div class="dropdown-content">
                    <a href="{% url 'djangoapp:registration' %}">Signup</a>
                    <a href="{% url 'djangoapp:login' %}">Login</a>
                </div>
            </form>
        </div>
    </div>
{% endif %}

{% endblock %}